.footer {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background: #2998ff;
  padding: 1rem;
  padding-bottom: 1rem;
  h2 {
    font-family: "Khand", sans-serif;
  }
  a {
    font-family: Noto Sans, sans-serif;
  }
}
